@charset 'UTF-8';
html {
    font-family: serif;
}
h1 {
    font-family: '游ゴシック', 'Yu Gothic', 'YuGothic', sans-serif;
}
h2 {
    font-family: 'ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro', sans-serif;
}